.b-technologies {
    background-color: #f8f8f8;
    padding: 5rem 0
}

@media(min-width:768px) {
    .b-technologies {
        padding: 8rem 0
    }
}

.b-technologies__title {
    font-weight: 600;
    margin-bottom: 3.4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 22rem
}

@media(min-width:768px) {
    .b-technologies__title {
        font-weight: 700;
        margin-bottom: 7rem;
        max-width: 100%
    }
}

.b-technologies__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem 3.6rem;
    justify-content: center
}

@media(min-width:768px) {
    .b-technologies__content {
        gap: 5.2rem;
        justify-content: center;
        margin: 0 auto;
        width: 95rem
    }
}

.b-technologies__logo {
    display: flex;
    justify-content: center;
    max-height: 2.3rem;
    width: 12rem
}

@media(min-width:768px) {
    .b-technologies__logo {
        display: block;
        margin-bottom: .6rem;
        max-height: 33.8rem;
        width: auto
    }
}

.b-technologies__logo svg {
    height: 2.3rem
}

@media(min-width:768px) {
    .b-technologies__logo svg {
        height: auto
    }
}